{% extends "landing/base.html" %}
{% block content %}
    <h1>Landing home preko template</h1>
    <section>
        <h1>Section 1</h1>
        <p>Komunicirati samo jednu poruku - u slučaju mariokrajacic.com neka bude available for work ili hire me</p>
    </section>
    <section>
        <h1>Section 2</h1>
        <p>Pravilo 5 sekundi: posjetitelj na stranici traži samo ono od čega ima koristi i na što ne treba potrošiti
            puno energije.
            Zato stranica treba u 5 sekundi iskomunicirati posjetitelju:
            - što nudim, kako će im to olakšati život i kako da dođu do tog
            Ovo ne samo da se mora dogoditi u prvih 5 sekundi već to treba biti jasno odmah sa vrha stranice bez
            skrolanja</p>
    </section>
    <section>
        <h1>Section 3</h1>
        <p>Tri glavna benefita. Pripaziti benefit nije feature. Komunicirati feature kao benefit. Primjer Applea je:
            kada su kreirali Ipod on je imao 256 gb memorije, nisu to reklamirali kao memoriju već su rekli primjer
            ovako: od sada možete u đepu nositi 1000 pjesama sa sobom. Može ovako biti komunicirano ili istaknem
            feature, ali onda objasnim koji je benefit toga. Naravno usporediti sa konkurencijom što oni nude i kako da
            ponudim bolje. Osmisliti tri takva benefita i staviti ih na stranicu, možda odmah u drugi section ili div
            kako ču već podjeliti site. To je ona shema sa tri ikone ispod kojih je naslov i ispod njih mali opis onog
            što je na ikoni ili slici. Slika govori više od riječi. Te tri slike trebaju biti dobro odabrane jer
            privlaće više od teskta koji piše ispod njih.</p>
    </section>
    <section>
        <h1>Section 4</h1>
        <p>Kratki jednominutni video koji pokazuje kako su korisnici proizvoda živjeli prije mene i onda poslije mene. I
            završetak videa treba završiti sa jasnim pozivom na djelovanje, onim istim koji mi se proteže kroz cijeli
            site.</p>
    </section>
    <section>
        <h1>Section 5</h1>
        <p>Svjedočanstvo klijentata koji opisuju proces koji su sa mnom prošli kako se to odrazilo na njih, poslovanje
            ili što već. Može biti i u tekstualnom obliku, ali slika mora biti stvarna.</p>
    </section>
    <section>
        <h1>Section 6</h1>
        <p>Feature list - ovdje nabrojati feature koje dobiju mojom uslugom. Da li je to customer support i to označiti
            ne kao bulet points nego checkmarks (kvačice)</p>
    </section>
{% endblock content %}